################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicPlayer/.vs/MusicPlayer/v16/TestStore/0/003.testlog
